html {
	box-sizing: border-box;
    
    font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
* {
	margin: 0;
	padding: 0;
}

body{
  
    margin:0px ;
}
.wrapper{
    min-height: 100vh;
    width: 100%;
	background: #E5E5E5;
	padding: 3.9% 2.7% 3.9% 2.7%;
}


	


.page-layout{
	height: calc(100vh - 5em);
	/* border: 2px solid; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.side-tabs{
	height: 100%;
	width: 20.68%;
	
}

.results{
height: 100%;
width: 74%;
display: flex;
flex-direction: column;

align-items: center;
padding-right: 1.25em;
}

.top-bar{
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	width: 100%;
	/* border: 1px solid; */

}

.page-container{
	width: 100%;
	/* border: 1px solid red; */
	height: 100%;
	padding-bottom: 2.5em;
	
}

/* .cards{
	width: 100%;
	border: 1px solid;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}

.line-chart{
	border: 1px solid;
width: 100%;
margin-top: 1.25em;
	margin-bottom: 1.25em;
}

.widget{
	border: 1px solid;
	width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-top: 1.25em;
margin-bottom: 2.5em;

}
 */


@media only screen and (max-width:1366px) and (max-height:768px){
.wrapper{
	min-height: 100vh;
    width: 100%;
	background: #E5E5E5;
	padding: 1% 1.7% 1% 1.7%;
	}
	.page-layout{
	height: 100%;
	/* border: 2px solid green; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}

	
	.side-tabs{
	height: 100%;
	width: 20.68%;
	/* border: solid; */
	
}


.results{
height: 100%;
width: 77%;
display: flex;
flex-direction: column;
/* border: solid red; */
align-items: center;
padding-right: 0.7%;
overflow-y: auto;
scroll-behavior: smooth;
scrollbar-gutter: stable;
scrollbar-highlight-color: #E5E5E5;
scrollbar-track-color: #0D5F9A;
scrollbar-width: thin;
}



.top-bar{
	margin-top:0.2%;
	margin-bottom: 1%;
	width: 100%;
	/* border: 1px solid; */

}

.page-container{
	width: 100%;
	/* border: 1px solid red; */
	height: 100%;
	padding-bottom: 2%;
	
}
	
}





	

